@media (min-width: 600px) {
    #menu {
        display: none;
    }

    .navigation {
        display: flex;
        flex-direction: row;
        width: auto;
    }

    .navigation a {
        padding: 0.5rem 1rem;
    }

    .grid-container {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}